/* Minimal CSS Reset, source: https://alligator.io/css/minimal-css-reset/ */
html {
  box-sizing: border-box;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
body {
  min-width: 300px;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.contentContainer {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: max-content;
  height: max-content;
}

//HEADER
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .headerLogo {
    padding: 8px;
    & > #logo {
      width: 50px;
    }
  }
}
.navigation {
  padding-right: 16px;
}
.naviItem {
  padding: 8px;
  margin-left: 16px;
  font-size: 14px;
  color: grey;
  cursor: default;
  &:hover {
    cursor: pointer;
    color: black;
  }
}

// PROJECTS
.links {
  padding: 32px;

  a {
    margin-bottom: 16px;
    cursor: pointer;
    text-decoration-line: underline;
  }
  & > ul > div {
    margin-bottom: 32px;

    & > li {
      margin-bottom: 12px;
      & > b {
        font-size: 14px;
        margin-bottom: 16px;
      }
    }
  }
}
// ABOUT
.aboutText {
  width: 300px;
  & > p {
    text-align: justify;
  }
}
#face {
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
}

// GALLERY
.galleryRow {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  .galleryImg {
    max-width: 300px;
    margin: 8px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  justify-content: center;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
