article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  margin-bottom: 3rem;
  & > div {
    width: 30rem;
    padding: 1rem;
  }
  .preface {
    margin-bottom: 8rem;
  }
  .items {
    & > div {
      & > h3 {
        margin-top: 0.5rem;
      }
      margin-bottom: 8rem;
    }
  }
}

h1 {
  font-size: 2rem;
  margin-bottom: 0rem;
}
h2 {
  font-size: 1.75rem;
  margin-bottom: 0rem;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 0rem;
}
p {
  font-size: 1rem;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  & > .navigation {
    display: flex;
    .naviItem {
      padding: 0.75rem;
      margin-right: 1rem;
      font-size: 1rem;
      color: black;
      cursor: default;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        color: red;
      }
    }
  }
}
#logo {
  padding: 0.75rem;
  cursor: pointer;
  width: 5rem;
}

#home {
  width: 22rem;
  #face {
    width: 20rem;
    height: 20rem;
  }
}

#gallery {
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.5rem;
    justify-content: center;
  }

  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 0.25rem;
  }

  .column img {
    margin-top: 0.5rem;
    vertical-align: middle;
    width: 100%;
  }

  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
}

#projects {
  width: 20rem;
  ul {
    padding: 0;
    li {
      padding: 1rem 0;
      font-size: 1.5rem;
    }
  }
}
